* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 5rem auto;
    grid-template-columns: 17rem auto;
    grid-template-areas: 
    "aside header"
    "aside main";
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 2rem;
    /*box-shadow: 0 1rem 1rem lightgray;*/
}

header {
    grid-area: header;
    background-color: #F8F8F8;
    text-align: center;
    color: #A36BFF;
    padding-top: 1rem;
    margin-bottom: .5rem;
}

h1 {
    display: inline;
}

#nextMonth {
    cursor: pointer;
}

aside {
    grid-area: aside;
    background-color: #E6D7FF;
    padding: 1rem;
}

.todoList {
    list-style-type: none;
}

main {
    grid-area: main;
    height: 100%;
    gap: .5rem;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

main div {
    height: 4rem;
    background-color: #F8F8F8;
    padding: .5rem;
    font-size: .7rem;
    color: grey;
}